@using CocaineCartels.BusinessLogic
@using Newtonsoft.Json

<div id="gameStopped">
    <div id="gameStartLobby" class="container-fluid" style="background-color: white">
        <h1>Cocaine Cartels</h1>
        <p>Waiting for players to join. <span id="startNumberOfPlayers"></span> players have joined so far.</p>
        <p>Your color: <span id="startPlayerColor"></span></p>
        <p></p>
        <p>Players joined: <span id="startPlayersColors"></span></p>
        <p><button id="allPlayersSeemToBeHereButton" onclick="cocaineCartels.allPlayersSeemToBeHereClicked();" class="btn btn-default btn-lg">All players seem to be here</button></p>
        <p>The game will start when all players have pressed the button above.</p>
        <h4>Settings</h4>
        <p>Each turn all players get @Settings.NewUnitsPerTurn new units plus one extra unit for every @Settings.NewUnitPerCellsControlled cells controlled.</p>
        <p>Up to @Settings.MovesPerTurn move commands allowed per turn.</p>
        <p>The board size is @Settings.GridSize.</p>
        @*<p>The first player to reaxh @Settings.PointsToWinTheGame points wins.</p>*@
    </div>
</div>
<div id="gameStarted">
    <div id="canvasCommands" class="container-fluid canvas-commands">
        <div class="row">
            <div class="col-xs-7">
                <p>
                    Step through last turn:
                    <button id="boardButton1" onclick="cocaineCartels.setActiveBoard(1);" class="btn btn-default">1</button>
                    <button id="boardButton2" onclick="cocaineCartels.setActiveBoard(2);" class="btn btn-default">2</button>
                    <button id="boardButton3" onclick="cocaineCartels.setActiveBoard(3);" class="btn btn-default">3</button>
                    <button id="boardButton4" onclick="cocaineCartels.setActiveBoard(4);" class="btn btn-default">4</button>
                </p>
            </div>
            <div class="col-xs-3 text-right">
                <p>Your color: <span id="playerColor" class="label">&nbsp;</span></p>
            </div>
            <div class="col-xs-2 text-right">
                <p id="moves">Moves: <span id="numberOfMovesLeft"></span></p>
            </div>
        </div>
    </div>
    <div id="canvas1"></div>
    <div id="canvas2"></div>
    <div id="canvas3"></div>
    <div id="canvas4"></div>
    <div id="playerCommands" class="container-fluid player-commands">
        <div class="row">
            <div class="col-xs-4">
                <div class="row">
                    <div class="col-xs-4">Points:</div>
                    <div class="col-xs-8"><span id="playersPoints"></span></div>
                </div>
            </div>
            <div class="col-xs-4 text-center">
                @*<p>Proprose alliance with:</p>
                <div id="alliances"></div>*@
            </div>
            <div class="col-xs-4 text-right">
                <p>
                    <button id="readyButton" class="btn btn-default" onclick="cocaineCartels.readyButtonClicked();">I'm ready</button>
                </p>
                <p>Are ready: <span id="playersStatus"></span></p>
            </div>
        </div>
    </div>
</div>
<div id="administratorCommands" class="container-fluid administrator-commands">
    <button onclick="cocaineCartels.confirmResetGame();" class="btn btn-default">Reset Game</button>
</div>

@section beforeBundledScripts
{
    <script>
        var serverSideSettings = @Html.Raw(JsonConvert.SerializeObject(new Settings()));
    </script>
}

@section afterBundledScripts
{
    <script>
        var cocaineCartels = new CocaineCartels.Main();
    </script>
}
